<head>
    <title>BMR Cakes</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>


</head>

<!--/home -->
    <div id="home" class="inner-w3pvt-page">
        <div class="overlay-innerpage">
<!--/top-nav -->
            <div class="top_w3pvt_main container">
<!--/header -->
<header class="nav_w3pvt text-center ">
<!-- nav -->
    <nav class="wthree-w3ls">
        <div id="logo">
            <h1> <a class="navbar-brand1 px-0 mx-0" style="text-transform:capitalize" href="/home">Bmr Cakes
                </a>
            </h1>
        </div>

    </nav>
<!-- //nav -->
</header>

<!--//header -->

<!--/breadcrumb-->
                <div class="inner-w3pvt-page-info">
                    <ol class="breadcrumb d-flex">
                        <li class="breadcrumb-item">
                            <a href="/admin/adminproducto">Panel de administrador</a>
                        </li>
                        <li class="breadcrumb-item active">Seleccionar imagen</li>
                    </ol>

                </div>
<!--//breadcrumb-->
            </div>
<!-- //top-nav -->
        </div>
    </div>
<!-- //home -->

<div class="container" style="margin-top:1vh;">
    <div class="row justify-content-center">
        <div class="col-12">
            <h4 class="tittle-w3ls text-center" style="margin:2em">Seleccionar imagen de producto</h4>
        </div>
        
        <div class="col-8">

            <form method="post" action="/admin/adminproducto/imagen/{{product.id_producto}}" enctype="multipart/form-data" style="margin-top: 2em; margin-bottom: 5em;">

                <div class="form-group">
                    <label for="imagen">Imagen</label>
                    <input type="file" class="form-control" name="imagen" id="imagen">
                </div>
                <button type="submit" class="btn more black btn-block" style="margin-top: 1em;">Subir imagen</button>
                
                <span class="text-success text-center" style="margin: 2em;">{{message}}</span>
            </form>

        </div>
    </div>
</div>