<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>BMR Cakes</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="tortas, contacto, pasteleria, panaderia, artesanal, bmr, bmr cakes, buenos aires, argentina, comprar" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>

    <link rel="stylesheet" href="css/bootstrap.css">

    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />

    <link href="css/font-awesome.css" rel="stylesheet">


</head>

<body>
<!--/home -->
    <div id="home" class="inner-w3pvt-page">
        <div class="overlay-innerpage">
            <!--/top-nav -->
            <div class="top_w3pvt_main container">


            <!--/header -->
<header class="nav_w3pvt text-center ">
<!-- nav -->
    <nav class="wthree-w3ls">
        <div id="logo">
            <h1> <a class="navbar-brand1 px-0 mx-0" style="text-transform:capitalize" href="home">Bmr Cakes
                </a>
            </h1>
        </div>

        <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu mr-auto">
                <li class="active"><a href="home">Home</a></li>
                <li><a href="/about">Sobre mí</a></li>
                <li>
                    <label for="drop-2" class="toggle toggle-2">Productos <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                    <a href="productos">Productos  <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2" />
                    <ul>
                        <li><a href="/tortas" class="drop-text">Tortas</a></li>
                        <li><a href="/chocolateria" class="drop-text">Chocolatería</a></li>
                        <li><a href="/panaderia" class="drop-text">Panadería</a></li>
                        <li><a href="/cajas" class="drop-text">Cajas</a></li>
                        <li><a href="/pascuas" class="drop-text">Pascuas</a></li>
                        <li><a href="/especiales" class="drop-text">Especiales</a></li>
                    </ul>
                </li>
                <li><a href="recetas">Recetas</a></li>
                <li><a href="contacto">Contacto</a></li>

                <li class="social-icons ml-lg-3"><a href="https://www.facebook.com/BmrCakes15/" class="p-0 social-icon"><span class="fa fa-facebook-official" aria-hidden="true"></span>
                        <div class="tooltip">Facebook</div>
                    </a> </li>

                <li class="social-icons"><a href="https://www.instagram.com/bmrcakes/?hl=es-la" class="p-0 social-icon"><span class="fa fa-instagram" aria-hidden="true"></span>
                        <div class="tooltip">Instagram</div>
                    </a> </li>
        </ul>
    </nav>
<!-- //nav -->
</header>
                <!--/breadcrumb-->
                <div class="inner-w3pvt-page-info">
                    <ol class="breadcrumb d-flex">
                        <li class="breadcrumb-item">
                            <a href="/home">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Contacto</li>
                    </ol>

                </div>
                <!--//breadcrumb-->
            </div>
            <!-- //top-nav -->
        </div>
    </div>
<!-- //home -->

<!-- Contact -->
    <section class="about-info py-5 px-lg-5">
        <div class="content-w3ls-inn px-lg-5">
            <div class="container py-md-5 py-3">
                <div class="px-lg-5">
                    <h3 class="tittle-w3ls mb-lg-5 mb-4"><span class="pink">Contactame</span> </h3>
                    <p class="mt-5 pr-lg-5"> Para cualquier tipo de consulta, precios, pedidos, etcétera, podés comunicarte con BMR Cakes contactándonos por email a bmrcakes@gmail.com.</p>
                    <p class="mt-5 pr-lg-5">También podés hacerlo enviando un mensaje a través de nuestra página de Instagram o Facebook. </p>


                    <div class="contact-hny-form mt-lg-5 mt-3">
                        <h3 class="title-hny mb-lg-5 mb-3">
                            También podés dejar tu mensaje por este medio:
                        </h3>
                                                
                        <form action="/contacto" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="nombre">Nombre*</label>
                                        <input type="text" name="nombre" id="nombre" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="telefono">Teléfono</label>
                                        <input type="text" name="telefono" id="telefono">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Correo electrónico*</label>
                                        <input type="email" name="email" id="email" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="mensaje">Escribí tu mensaje*</label>
                                        <textarea name="mensaje" id="mensaje" required>
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group mx-auto mt-3">
                                    <button type="submit" class="btn btn-default morebtn more black con-submit">Enviar</button>
                                </div>
                            </div>

                        </form>
                        <h5 class="text-success">{{message}}</h5>
                        <p class="mt-5 pr-lg-5">Los campos marcados con (*) son obligatorios. </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- //Contact -->

    <!-- /news-letter -->
    <section class="news-letter-w3pvt py-5" style="background-color: rgb(247, 247, 247);">
        <div class="container contact-form mx-auto text-left">
            <h3 class="title-w3ls two text-left mb-3">Noticias </h3>
            <form method="post" action="#" class="w3ls-frm">
                <div class="row subscribe-sec">
                    <p class="news-para col-lg-3">¿Querés recibir nuestras recetas en tu correo?</p>
                    <div class="col-lg-6 con-gd">
                        <input type="email" class="form-control" id="email" placeholder="Ingresa tu email aquí" name="email" required>

                    </div>
                    <div class="col-lg-3 con-gd">
                        <button type="submit" class="btn submit">Suscribirme</button>
                    </div>

                </div>

            </form>
        </div>
    </section>
    <!-- //news-letter -->

</body>

</html>
