    <!-- home -->
    <div id="home">
        <!--/top-nav -->
        <div class="top_w3pvt_main container">
            <!--/header -->
            <header class="nav_w3pvt text-center ">
                <!-- nav -->
                <nav class="wthree-w3ls">
                    <div id="logo">
                        <h1> <a class="navbar-brand1 px-0 mx-0" style="text-transform:capitalize" href="home">Bmr Cakes
                            </a>
                        </h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mr-auto">
                        <li class="active"><a href="home">Home</a></li>
                        <li><a href="/about">Sobre mí</a></li>
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle toggle-2">Productos <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                            <a href="productos">Productos  <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul>
                                <li><a href="/tortas" class="drop-text">Tortas</a></li>
                                <li><a href="/chocolateria" class="drop-text">Chocolatería</a></li>
                                <li><a href="/panaderia" class="drop-text">Panadería</a></li>
                                <li><a href="/cajas" class="drop-text">Cajas</a></li>
                                <li><a href="/pascuas" class="drop-text">Pascuas</a></li>
                                <li><a href="/especiales" class="drop-text">Especiales</a></li>
                            </ul>
                        </li>
                        <li><a href="recetas">Recetas</a></li>
                        <li><a href="contacto">Contacto</a></li>

                        <li class="social-icons ml-lg-3"><a href="https://www.facebook.com/BmrCakes15/" class="p-0 social-icon"><span class="fa fa-facebook-official" aria-hidden="true"></span>
                                <div class="tooltip">Facebook</div>
                            </a> </li>
                        {{!-- <li class="social-icons"><a href="#" class="p-0 social-icon"><span class="fa fa-twitter" aria-hidden="true"></span>
                                <div class="tooltip">Twitter</div> --}}
                            </a> </li>
                        <li class="social-icons"><a href="https://www.instagram.com/bmrcakes/?hl=es-la" class="p-0 social-icon"><span class="fa fa-instagram" aria-hidden="true"></span>
                                <div class="tooltip">Instagram</div>
                            </a> </li>
                    </ul>
                </nav>
                <!-- //nav -->
            </header>
            <!--//header -->
        </div>
        <!-- //top-nav -->
        <!-- banner slider -->
        <div id="homepage-slider" class="st-slider">
            <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
            <div class="images">
                <div class="images-inner">
                    <div class="image-slide">
                        <div class="banner-w3pvt-1">
                            <div class="overlay-w3ls">

                            </div>

                        </div>
                    </div>
                    <div class="image-slide">
                        <div class="banner-w3pvt-2">
                            <div class="overlay-w3ls">

                            </div>
                        </div>
                    </div>
                    <div class="image-slide">
                        <div class="banner-w3pvt-3">
                            <div class="overlay-w3ls">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="labels">
                <div class="fake-radio">
                    <label for="slide1" class="radio-btn"></label>
                    <label for="slide2" class="radio-btn"></label>
                    <label for="slide3" class="radio-btn"></label>
                </div>
            </div>
            <!-- banner-hny-info -->
            <div class="banner-hny-info">
                <h3>Pastelería y panadería
                    <br>Artesanal</h3>
                <div class="top-buttons mx-auto text-center mt-md-5 mt-3">
                    <a href="productos" class="btn more mr-2">Ver más</a>
                    <a href="contacto" class="btn">Contactanos</a>
                </div>
                <div class="d-flex hny-stats-inf">
                    <div class="col-md-4 stats_w3pvt_counter_grid mt-3">
                        <div class="d-md-flex justify-content-center">
                            <h5 class="counter">Cajas</h5>
                            <p class="para-w3pvt">Personalizadas</p>
                        </div>
                    </div>
                    <div class="col-md-4 stats_w3pvt_counter_grid mt-3">
                        <div class="d-md-flex justify-content-center">
                            <h5 class="counter">Envíos</h5>
                            <p class="para-w3pvt">Gratis</p>
                        </div>
                    </div>
                    <div class="col-md-4 stats_w3pvt_counter_grid mt-3">
                        <div class="d-md-flex justify-content-center">
                            <h5 class="counter">Propuestas</h5>
                            <p class="para-w3pvt">Innovadoras</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- //banner-hny-info -->
        </div>
        <!-- //banner slider -->
    </div>
    <!-- //banner -->

    <!-- //home -->

    <!-- about -->
    <section class="about py-5">
        <div class="container p-md-5">
            <div class="about-hny-info text-left px-md-5">
                <h3 class="tittle-w3ls mb-3"><span class="pink">Propuestas</span> para todos los gustos</h3>
                <p class="sub-tittle mt-3 mb-4">Nos especializamos en cajas de regalo, desayunos, meriendas, tortas, cupcakes, chocolatería y panadería. Cajas dulces y saladas, de todos los tamaños. Creamos nuestras propias propuestas para fechas especiales. 
                                
                </p>
                
                <p class="sub-tittle mt-3 mb-4">Podés ver nuestro catálogo en la sección de productos, o seguirnos en nuestras redes!
                
                </p>
                <a class="btn more black" href="productos" role="button">Ver productos</a>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!--/ab-->
    <section class="banner_bottom py-5">
        <div class="container py-md-5">
            <div class="row inner_sec_info">

                <div class="col-md-6 banner_bottom_grid help">
                    <img src="images/ab.jpg" alt=" " class="img-fluid">
                </div>
                <div class="col-md-6 banner_bottom_left mt-lg-0 mt-4">
                    <h4><a class="link-hny" href="cajas">
                            ¿Ya viste nuestras cajas?</a></h4>
                    <p>Día del padre, de la madre, del amigo, del niño, de los enamorados, un cumpleaños o un regalo, nuestras cajas personalizadas contienen lo que elijas regalarle a esa persona especial.</p>
                    <p>Igual que con nuestras tortas, podés elegir colores, temática, y contenido. Podés también optar porque enviemos la caja nosotros!</p>
                    <a class="btn more black mt-3" href="cajas" role="button">Quiero saber más</a>

                </div>
            </div>

        </div>
    </section>
    <!--//ab-->

    <!-- /projects -->
    <section class="projects py-5" id="gallery">
        <div class="container py-md-5">
            <h3 class="tittle-w3ls text-left mb-5"><span class="pink">Nuestros</span> productos</h3>
            <div class="row news-grids mt-md-5 mt-4 text-center">
                <div class="col-md-4 gal-img">
                    <a href="tortas"><img src="images/productos/miniCakes.png" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Mini tortas<span class="decription">Ver más</span></h5>
                    </div>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="chocolateria"><img src="images/productos/tabletas2.jpg" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Tabletas de chocolate<span class="decription">Ver más</span></h5>
                    </div>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="chocolateria"><img src="images/productos/chocopersonalizado.png" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Bombones personalizados<span class="decription">Ver más</span></h5>
                    </div>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="panaderia"><img src="images/productos/pancitochip.jpg" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Chips<span class="decription">Ver más</span></h5>
                    </div>
                </div>

                <div class="col-md-4 gal-img">
                    <a href="pascuas"><img src="images/productos/mediohuevos2.png" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>1/2 huevos de chocolate rellenos<span class="decription">Ver más</span></h5>
                    </div>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="panaderia"><img src="images/productos/cookies.jpg" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Cookies<span class="decription">Ver más</span></h5>
                    </div>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="panaderia"><img src="images/productos/masasFinas.png" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Masas finas<span class="decription">Ver más</span></h5>
                    </div>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="cajas"><img src="images/productos/cajaPersonalizada.png" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Cajas personalizadas<span class="decription">Ver más</span></h5>
                    </div>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="tortas"><img src="images/productos/torta4.png" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Tortas personalizadas<span class="decription">Ver más</span></h5>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- //projects -->
    <!-- /blogs -->
    <section class="blog-posts" id="blog">
        <div class="blog-w3pvt-info-content container-fluid">
            <h3 class="tittle-w3ls text-center mb-5">Recetas para compartir</h3>
            <div class="blog-grids-main row text-left">
                <div class="col-lg-3 col-md-6 blog-grid-img px-0">
                    <img src="images/g2.jpg" alt="Popup Image" class="img-fluid" />
                </div>
                <div class="col-lg-3 col-md-6 blog-grid-info px-0">
                    <div class="date-post">
                        <h6 class="date">7 de abril de 2020</h6>
                        <h4><a class="link-hny" href="recetas">Pasta frola</a></h4>
                        <p>¡Facilísima receta para que hagas pasta frola en tu casa! La masa también sirve para hacer galletitas.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 blog-grid-img px-0">
                    <img src="images/g4.jpg" alt="Popup Image" class="img-fluid" />
                </div>
                <div class="col-lg-3 col-md-6 blog-grid-info px-0 ">
                    <div class="date-post">
                        <h6 class="date">14 de abril de 2020</h6>
                        <h4><a class="link-hny" href="recetas">Brownies</a></h4>
                        <p>Para hacer con el chocolate que tengas.</p>
                    </div>
                </div>

            </div>
            <div class="blog-grids-main row text-left">

                <div class="col-lg-3 col-md-6 blog-grid-info px-0">
                    <div class="date-post">
                        <h6 class="date">29 de abril de 2020</h6>
                        <h4><a class="link-hny" href="recetas">Medialunas</a></h4>
                        <p>¡Una receta que rinde! Riquísimas medialunas que salen en cantidad.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 blog-grid-img px-0">
                    <img src="images/g6.jpg" alt="Popup Image" class="img-fluid" />
                </div>

                <div class="col-lg-3 col-md-6 blog-grid-info px-0">
                    <div class="date-post">
                        <h6 class="date">3 de mayo de 2020</h6>
                        <h4><a class="link-hny" href="recetas">Torta fritas</a></h4>
                        <p>Mi receta del clásico facilísimo para comer algo rico el fin de semana.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 blog-grid-img px-0">
                    <img src="images/g8.jpg" alt="Popup Image" class="img-fluid" />
                </div>

            </div>
        </div>

    </section>
    <!-- //blogs -->
    <!--/mid-->
    <section class="banner_bottom py-5" id="appointment">
        <div class="container py-md-5">
            <div class="row inner_sec_info">


                <div class="col-lg-5 banner_bottom_left">

                    <div class="login p-md-5 p-4 mx-auto bg-white mw-100">
                        <h4>
                            Hacé tu consulta</h4>
                        <form action="/" method="post">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" required>
                            </div>

                            <div class="form-group">
                                <label for="telefono">Teléfono</label>
                                <input type="phone" class="form-control" name="telefono" id="telefono" required="">
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email" required="">
                            </div>

                            <div class="form-group mb-4">
                                <label for="mensaje" class="mb-2">Mensaje</label>
                                <input type="text" class="form-control" name="mensaje" id="mensaje" required>
                            </div>

                            <button type="submit" class="btn more black submit mb-4">Enviar mensaje</button>

                        </form>

                    </div>

                </div>
                <div class="col-lg-7 banner_bottom_grid help pl-lg-5">
                    <img src="images/ab2.jpg" alt=" " class="img-fluid mb-4">
                    <h4><a class="link-hny" href="contacto">¿Querés ponerte en contacto?</a></h4>
                    <p class="mt-3">Hacé tu pedido o consulta y nos pondremos en contacto lo antes posible! </p>

                </div>
            </div>

        </div>
    </section>
    <!--//mid-->

    <!-- /news-letter -->
    <section class="news-letter-w3pvt py-5">
        <div class="container contact-form mx-auto text-left">
            <h3 class="title-w3ls two text-left mb-3">Noticias </h3>
            <form method="post" action="#" class="w3ls-frm">
                <div class="row subscribe-sec">
                    <p class="news-para col-lg-3">¿Querés recibir nuestras noticias en tu correo?</p>
                    <div class="col-lg-6 con-gd">
                        <input type="email" class="form-control" id="email" placeholder="Ingresa tu email aquí" name="email" required>

                    </div>
                    <div class="col-lg-3 con-gd">
                        <button type="button" id="boton" class="btn submit">Suscribirme</button>
                    </div>

                </div>

            </form>
        </div>
    </section>
    <!-- //news-letter -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
    window.addEventListener('load', ()=> {
        console.log("Cargado..")
        document.getElementById('boton').addEventListener('click', enviado);
    })

    const enviado = () => {
        // console.log("enviado");
        const datos1 = new URLSearchParams(new FormData(document.getElementById('form1')));
        fetch('/',{
            method: 'POST',
            body: datos1
        })
        .then(response => response.json())
        .then(data => message(data));
    }

    const message = (datos1) => {
        if(datos1.success) {
            Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Su mensaje ha sido enviado!',
            showConfirmButton: true,
            })
        } else {
            Swal.fire({
            position: 'center',
            icon: 'error',
            title: 'error',
            showConfirmButton: true,
            })
        }
    }

</script>