<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="tortas, bmr cakes, pasteleria" />
 
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>

    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap&family=Sacramento&display=swap" rel="stylesheet">
    
  </head>

  <body>
    {{{body}}}
  
{{!-- footer --}}
<footer class="py-lg-5 py-4">
        <div class="container py-sm-3">
            <div class="row footer-grids">
                <div class="col-lg-4 mt-4">

                    <h2> <a class="navbar-brand px-0 mx-0 mb-4" style="text-transform:capitalize" href="index.html">Bmr Cakes
                        </a>
                    </h2>
                    <p class="mb-3">En pastelería artesanal profesional desde 2015 ♥ Podés seguirnos en nuestras redes para no perderte ninguna actualización!</p>
                    <h5>Gracias a nuestros <span>4000 seguidores</span> </h5>
                    <div class="icon-social mt-4">
                        <a href="#" class="button-footr">
                            <span class="fa mx-2 fa-facebook"></span>
                        </a>
                        <a href="#" class="button-footr">
                            <span class="fa mx-2 fa-instagram"></span>
                        </a>
                        <a href="#" class="button-footr">
                            <span class="fa mx-2 fa-twitter"></span>
                        </a>
                        <a href="#" class="button-footr">
                            <span class="fa mx-2 fa-pinterest"></span>
                        </a>
                        <a href="#" class="button-footr">
                            <span class="fa mx-2 fa-google-plus"></span>
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <h4 class="mb-4">Navegación</h4>
                    <div class="links-wthree d-flex">
                        <ul class="list-info-wthree">
                            <li><a href="#"><span class="fa fa-angle-double-right" aria-hidden="true"></span> Tortas</a></li>
                            <li><a href="#"><span class="fa fa-angle-double-right" aria-hidden="true"></span> Chocolatería</a></li>
                            <li><a href="#"><span class="fa fa-angle-double-right" aria-hidden="true"></span> Cajas</a></li>
                            <li><a href="#"><span class="fa fa-angle-double-right" aria-hidden="true"></span> Panadería</a></li>
                            <li><a href="#"><span class="fa fa-angle-double-right" aria-hidden="true"></span> Términos y condiciones</a></li>
                            {{!-- <li><a href="#"><span class="fa fa-angle-double-right" aria-hidden="true"></span> Términos</a></li> --}}
                        </ul>
                        <ul class="list-info-wthree ml-5">
                            <li>
                                <a href="index.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="about.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                                    Info
                                </a>
                            </li>
                            <li>
                                <a href="single.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                                    Recetas
                                </a>
                            </li>
                            <li>
                                <a href="team.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                                    Productos
                                </a>
                            </li>
                            <li>
                                <a href="contact.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                                    Contactanos
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 ad-info">
                    <h4 class="mb-4">Contacto</h4>
                    <p><span class="fa fa-map-marker"></span>Capital Federal<span>, Buenos Aires, Argentina</span></p>
                    <p class="phone"><span class="fa fa-phone"></span> +54(11) 11 2345 6789 </p>
                    {{!-- <p class="phone"><span class="fa fa-fax"></span> +1(12) 123 456 789 </p> --}}
                    <p><span class="fa fa-envelope"></span><a href="mailto:info@example.com">bmrcakes@gmail.com</a></p>
                </div>

            </div>
        </div>
    </footer>
      
      <div class="copy_right p-3 d-flex">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 copy_w3pvt">
                    <p class="text-lg-left text-center">© 2020 BMR Cakes. Todos los derechos reservados | Website by Minés
                        <a href="http://w3layouts.com/" target="_blank"></a></p>

                </div>
                <!-- move top -->
                <div class="col-lg-3 move-top text-lg-right text-center">
                    <a href="#home" class="move-top">
                        <span class="fa fa-angle-double-up mt-3" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- move top -->
            </div>
        </div>

    </div>    

{{!-- footer --}}

  </body>

</html>
