<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>BMR Cakes</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>


</head>

<body>
    <!--/home -->
    <div id="home" class="inner-w3pvt-page">
        <div class="overlay-innerpage">
            <!--/top-nav -->
            <div class="top_w3pvt_main container">
                <!--/header -->
<header class="nav_w3pvt text-center ">
<!-- nav -->
    <nav class="wthree-w3ls">
        <div id="logo">
            <h1> <a class="navbar-brand1 px-0 mx-0" style="text-transform:capitalize" href="/home">Bmr Cakes
                </a>
            </h1>
        </div>

    </nav>
<!-- //nav -->
</header>
                <!--//header -->

                <!--/breadcrumb-->
                <div class="inner-w3pvt-page-info">
                    <ol class="breadcrumb d-flex">
                        <li class="breadcrumb-item">
                            <a>BMR Cakes</a>
                        </li>
                        <li class="breadcrumb-item active">Iniciar sesión</li>
                    </ol>

                </div>
                <!--//breadcrumb-->
            </div>
            <!-- //top-nav -->
        </div>
    </div>
    <!-- //home -->

<div class="container-fluid main form">
        <section class="container form mt-3 mb-5 pt-3 pb-5">
        <h3 class="text-center" style="color:#990099; padding-bottom: 30px;">Iniciar sesión</h3>
   <div class="row justify-content-center">
        <div class="col-6">

        <form method="post" action="/login">
            <div class="form-group">   
                <label for="nombre">Nombre de usuario</label>
                    <input type="text" maxlenght="30" required name="username" id="username" class="form-control d-inline">
            </div> 

            <div class="form-group" style="margin-bottom: 30px;">
                <label for="password">Contraseña</label>
                    <input type="password" placeholder="*********" name="password" id="password" required class="form-control d-inline">
            </div>
            
            <button type="submit" class="btn more black btn-block">Entrar</button>
            <button type="button" class="btn-sec btn-block pointer" style="cursor: pointer;">Olvidé mi contraseña</button>
            </form>

        </div> 
    </div> 
</div>
</section>
</body>
</html>