<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>BMR Cakes</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Infinitude Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->

</head>

<body>
<!--/home -->
    <div id="home" class="inner-w3pvt-page">
        <div class="overlay-innerpage">
            <!--/top-nav -->
            <div class="top_w3pvt_main container">


<!--/header -->
<header class="nav_w3pvt text-center ">
<!-- nav -->
    <nav class="wthree-w3ls">
        <div id="logo">
            <h1> <a class="navbar-brand1 px-0 mx-0" style="text-transform:capitalize" href="home">Bmr Cakes
                </a>
            </h1>
        </div>

        <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu mr-auto">
                <li class="active"><a href="home">Home</a></li>
                <li><a href="/about">Sobre mí</a></li>
                <li>
                    <label for="drop-2" class="toggle toggle-2">Productos <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                    <a href="productos">Productos  <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2" />
                    <ul>
                        <li><a href="/tortas" class="drop-text">Tortas</a></li>
                        <li><a href="/chocolateria" class="drop-text">Chocolatería</a></li>
                        <li><a href="/panaderia" class="drop-text">Panadería</a></li>
                        <li><a href="/cajas" class="drop-text">Cajas</a></li>
                        <li><a href="/pascuas" class="drop-text">Pascuas</a></li>
                        <li><a href="/especiales" class="drop-text">Especiales</a></li>
                    </ul>
                </li>
                <li><a href="recetas">Recetas</a></li>
                <li><a href="contacto">Contacto</a></li>

                <li class="social-icons ml-lg-3"><a href="https://www.facebook.com/BmrCakes15/" class="p-0 social-icon"><span class="fa fa-facebook-official" aria-hidden="true"></span>
                        <div class="tooltip">Facebook</div>
                    </a> </li>

                <li class="social-icons"><a href="https://www.instagram.com/bmrcakes/?hl=es-la" class="p-0 social-icon"><span class="fa fa-instagram" aria-hidden="true"></span>
                        <div class="tooltip">Instagram</div>
                    </a> </li>
        </ul>
    </nav>
<!-- //nav -->
</header>

<!--/breadcrumb-->
                <div class="inner-w3pvt-page-info">
                    <ol class="breadcrumb d-flex">
                        <li class="breadcrumb-item">
                            <a href="home">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Recetas</li>
                    </ol>

                </div>
<!--//breadcrumb-->
            </div>
<!-- //top-nav -->
        </div>
    </div>
<!-- //home -->

<!-- /projects -->
    <section class="projects py-5" id="gallery">
        <div class="container py-md-5">
            <h3 class="tittle-w3ls text-left mb-5"><span class="pink">Nuestras</span> recetas</h3>
            <div class="row news-grids mt-md-5 mt-4 text-center">
                <div class="col-md-4 gal-img">
                    <a href="recetas/pastafrola"><img src="images/recetas/pastafrola.jpg" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Pasta frola</h5>
                    </div>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="recetas/medialunas"><img src="images/recetas/medialuna.jpg" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Medialunas</h5>
                    </div>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="recetas/tortafritas"><img src="images/recetas/tortafrita.jpg" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Torta fritas</h5>
                    </div>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="recetas/chips"><img src="images/productos/pancitochip.jpg" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Chips</h5>
                    </div>
                </div>

                <div class="col-md-4 gal-img">
                    <a href="recetas/brownies"><img src="images/recetas/brownie.jpg" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Brownies</h5>
                    </div>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="recetas/cookies"><img src="images/recetas/cookie.jpg" alt="w3pvt" class="img-fluid"></a>
                    <div class="gal-info">
                        <h5>Cookies</h5>
                    </div>
                </div>

            </div>

        </div>
    </section>

</body>